@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

.title_app{
  width: 100%;
  flex: 1;
  position: relative;
  font-size: 1.5vw; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto',sans-serif;
}

.title-container{
  display: inline-block;
  padding: 1% 5%;
}

.title-container__subtitle {
  flex: 40%;
  font-size: 2em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  text-align: center;
  font-weight: 100;
  color: #fff;
  text-shadow:2px 2px 3px #002a;
}

.text_minimized{
  font-size: 1em;
  margin-bottom: 1vh;
}

.logo{
  display: block;
  margin-bottom: 0;
  width: 90%;
  max-width: 20vw;
  margin: auto;
  fill: white;
}

@media(orientation:portrait),(orientation: landscape) and (max-width: 700px){
  .title-container__subtitle{
    font-size: 2.5em;
  }

  .title-container__title {
    max-width: 80vw;
  }

  .logo{
    max-width: 50vw;
  }
}
