.disp-clear-sky{
    background: url("../../assets/img/display_clear_sky.jpg") center center no-repeat;
}

.disp-few-clouds{
    background: url("../../assets/img/display_few_clouds.jpg") center center no-repeat;
}

.disp-rain{
    background: url("../../assets/img/display_rain.jpg") center center no-repeat;
}

.disp-shower-rain{
    background: url("../../assets/img/display_shower_rain.jpg") center center no-repeat;
}

.disp-thunderstorm{
    background: url("../../assets/img/display_thunderstorm.jpg") center center no-repeat;
}

.disp-broken-clouds{
    background: url("../../assets/img/display_broken_clouds.jpg") center center no-repeat;
}

.disp-scattered-clouds{
    background: url("../../assets/img/display_scattered_clouds.jpg") center center no-repeat;
}

.disp-mist{
    background: url("../../assets/img/display_mist.jpg") center center no-repeat;
}

.disp-snow{
    background: url("../../assets/img/display_snow.jpg") center center no-repeat;
}

.disp-image{
    background-color: #4995;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.display-container {
    position: relative;
    background-size: cover;
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #2c3e50;
    overflow: hidden;
}

.display-container *{
    z-index: 1;
}


